# Entornos virtuales
venv/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos generados por el colector de datos localmente
*.json

# Configuración de IDEs
.idea/
.vscode/

# Secretos y variables de entorno
.env
.env.*
!.env.example